<div class="row mb-3">
    <div class="col-md-12">
        <h2>Data model basket</h2>
        <h3>Codelists</h3>
        <div id="codelistsBasket"></div>
        <h3>Fields</h3>
        <div id="fieldsBasket"></div>
        <h3>Custom</h3>
        <h4>Codelists</h4>
        <div id="customCodelistsBasket"></div>
        <h4>Fields</h4>
        <div id="customFieldsBasket"></div>
    </div>
</div>
<script>
    const codelists = document.getElementById("codelistsBasket")
    const fields = document.getElementById("fieldsBasket")
    const customCodelists = document.getElementById("customCodelistsBasket")
    const customFields = document.getElementById("customFieldsBasket")
    
    updateBasket() 
</script>