---
layout: basic
title: Search standards
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-5">
                    <form>
                        <div class="">
                            <label class="" for="search">Search for a Standard</label>
                            <input class="" id="search" name="search" type="text" onkeyup="filterList('standardsList')"
                                class="form-control form-control-lg" placeholder="" autocomplete="off">
                        </div>
                    </form>
                    </div>
                    <div class="row mb-3">
                        <ul id="standardsList" class="">
                            {%- for item in standards -%}
                            <li id='listItem-{{item.Name}}'>
                                <a class="" onclick="basketDataAdd('{{ item.ID }}','{{ item.Name }}',`codelists`)">{{ item.Name }}</a>
                                <p>{{ item.Description }}</p>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">{% include "basket.html" %}</div>
            </div>
        </div>
</main>