---
layout: basic
title: About
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <h1>About</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-5">
                    <h2>Aim</h2>
                    <p>This prototype aims to demonstrate an idea for how we communicate and how users interact with data standards.</p>
                    <p>The basic idea is to allow a user to build out their data model a few different ways. Either by selecting individual fields/codelists or by working from a prebuilt 'template' (e.g. a use case from HACT)</p>
                    <h2>Benefits</h2>
                    <p>Having a clearly articulated data model will allow better communication and understanding of what exists.</p>
                    <p>For example in the case where a HP want to change supplier. We have heard that this task is complicated further by the lack of understanding of the current data model. Helping HPs have one should help them understand their own data in future.</p>
                    <h2>Future ideas/limitations</h2>
                    <p>Not everything is currently possible in this prototype. The big 2 options missing are around exactly how a user would supply custom fields/codelists and the ability to dig a level deeper into the information to see more about a specific fields or codelist.</p>
                    <p><ul>
                        <li>
                            Could allow users to search by a value they need and see what codelists contain it
                        </li>
                        <li>Could validate supplied codelist to access if there is something existing that may meet requirements - nudging someone towards something standard.</li>
                        <li>
                            Could integrate with Data Futurists 'index' tool to provide a bridge between current data.
                        </li>
                    </ul></p>
                    <h2>Notes</h2>
                    <p>Prototype uses local browser storage to remember your basket - meaning it should persist until cleared with the button or by deleting the browser data. </p>
                </div>
                </div>
                <div class="col-md-4">
                    <a href = "/" class="btn btn-primary">View the prototype</a>
                </div>
            </div>
        </div>
    </div>
</main>