---
layout: basic
title: Add custom fields
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <h1>Build your data model</h1>
        <div class="row">
            <p><a href="/search-standards">Add standard codelists/taxonomies</a> | <a href="/add-fields">Add data fields</a> | <a href="/add-custom-codelists">Add
                custom codelists</a> | Add custom fields</p>
            <hr>
            <div class="col-md-8">


                <h2>Add custom fields</h2>
                <div class="row mb-5">
                    <p>Not yet included. Would allow you to upload or add specific fields you need to your basket that are not currently in the standards.</p>
                </div>
                <div class="row mb-3">

                </div>
            </div>
            <div class="col-md-4 bg-body-tertiary">{% include "basket.html" %}</div>
        </div>
    </div>
</main>