---
layout: basic
title: Home
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-7">
                <h2 class="pb-4">Develop a data model</h2>
                <a type="button" href="select-existing-model" class="btn btn-primary">Build a model based on our
                    templates</a>
                <hr>
                <a type="button" href="search-standards/" class="btn btn-primary">Create a data model from scratch</a>
                <hr>
                <a type="button" class="btn btn-secondary">Upload your data and map to standards</a>
            </div>
            <div class="col-md-5 bg-body-tertiary">
                <h2 class="pb-4 pt-4">Feedback</h2>
                <p>Contact us and let us know of any issues</p>
            </div>

        </div>
    </div>
</main>