---
layout: basic
title: Home
---

<main role="main" id="content" tabindex="-1">
    <div class="container">
        <h1 class="pb-4">Housing data standards</h1>
        <div class="row">
            <div class="col-md-7">
                <h2 class="pb-4">Develop a data model</h2>
                <div class="row pb-4">
                    <h3 class="pb-2">Build model based on our templates</h3>
                    <div class="col-md-7">
                        <p>Use a pre-build collection of standards designed to meet a specific process (for example
                            Reactive repairs).</p>
                        <p>This can then be customised to meet your needs.</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <a type="button" href="select-existing-model" class="btn btn-block btn-primary">Build from a
                            template</a>
                    </div>
                </div>
                <hr>
                <div class="row pb-4">
                    <h3 class="pb-2">Create a data model from scratch</h3>
                    <div class="col-md-7">
                        <p>Build a data model to completely meet your needs, using a mix of pre-defined standards as
                            well as the ability to add your own fields and codelists to the model if required.</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <a type="button" href="search-standards/" class="btn btn-primary">Build from scratch</a>
                    </div>
                </div>
                <hr>
                <div class="row pb-4">
                    <h3 class="pb-2">Upload your data and map to standards</h3>
                    <div class="col-md-7">
                        <p>Start with an output of your data and will will access how it aligns to the standards and
                            allow you to build a data model from this.</p>
                    </div>
                    <div class="col-md-5 text-center">
                        <a type="button" class="btn btn-secondary" disabled>Build from your data</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="bg-body-tertiary p-4">
                    <h2 class="pb-4">Data model</h2>
                    <p>The term 'data model' refers to the way data is organized, documented, and defined within a
                        database.
                        The data model definition also describes the elements used to standardize the system, such as
                        associations, entities and requirements.</p>
                </div>
            </div>
        </div>
    </div>
</main>