<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Person alert type code</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h2>Details</h2>
            <p>This provides the specific type of alert that is being flagged, e.g. 'don't visit alone'. NOTE: These
                alert types and associated comments must not be repeated verbatim on an operatives work order for
                privacy reasons. Only the information that is essential to the performance of the operatives work should
                be included, which may be abstracted or summarized from the details found in the AlertRegardingPerson
                entity.</p>
            <p><strong>Type: </strong>Codelist</p>
            <p><strong>Sub-type: </strong>Hierarchy</p>
            <p><strong>Status: </strong>Live</p>
            <p><strong></strong></p>
            <hr>
            <h2>Codes</h2>
            <p>
                10: Don't visit alone <br>
                ---- 10-10: Anti-social Behaviour <br>
                20: Disability or vulnerability <br>
                ---- 20-10: Hearing difficulties <br>
                ---- 20-20: Impaired vision <br>
                ---- 20-30: Illness <br>
                ---- 20-40: Physical support <br>
                ---- 20-50: Wheelchair <br>
                ---- 20-60: Elderly <br>
                ---- 20-70: Safeguarding alert <br>
                30: Regularly misses appointments <br>
                40: Language support <br>
                50: Operative gender <br>
                60: Capacity <br>
                0: Other - see comments <br>
                1: Other - please contact for details <br>
            </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>